.avgscores-container{
    position: absolute;
    right: 10px;
    top: 200px;
    width: 360px;
    padding: 20px;
    text-align: center;
    background-color: #b1acdf;
    margin-left: auto;
    margin-right: auto;
}