/* .modulebutton {
    margin-top: 100px;
    border: 0;
} */

.modulebutton {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .modulebutton .react-awesome-shapes-Circle {
    position: absolute;
    z-index: 1;
  }
  
  .button-text {
    z-index: 2;
    color: black;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-0%, -150%); 
    text-align: center;
    white-space: nowrap;
   
    
  }

/*.modulebutton-container { */
    /* background-color: aqua; */
    /* display: grid; */
    /* display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 300px;
    margin-top: 100px;
    max-width: 800px;
    margin: 0 auto; */

    /* display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 50px auto; */
  /*} */
  