.AvgScoresContainer{
    position: absolute;
    right: 10px;
    top: 200px;
    width: 360px;
    height: 300px;
    padding: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #a2bcf0;
}

.ProgressContainer{
    position: absolute;
    top: 200px;
    right: 500px;
    width: 360px;
    height: 1000px;
    padding: 50px;
    text-align: center;
    background-color: #a2bcf0;
}