
.Title{
    position:absolute;
    width: fill;
    height: 50;
}

.QuizContainer{
    /* position: absolute; */
    position: absolute;
    padding: 16px;
    /* width: fill; */
    width: 50%;
    /* height: 150px; */
    border-radius: 16px;
    margin: 0 auto;
    text-align: center;
    background-color: #5a8ef4;
    margin-left: 60px;
    margin-right: 150px;
} 
